{% extends './base.html' %}
{% load static %}
{% block content %}
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>lorem ipsum dolor sit amet!</h6>
                  <h4>Quam temporibus accusam <br> hic ducimus quia</h4>
                  <p>Magni deserunt dolorem consectetur adipisicing elit. Corporis molestiae optio, laudantium odio quod rerum maiores, omnis unde quae illo.</p>
                  <a href="#" class="filled-button">Cars</a>
                </div>
            </div>
          </div>


          <!-- // Item -->
          <!-- Item -->
<!--          <div class="item item-2">-->
<!--            <div class="img-fill">-->
<!--                <div class="text-content">-->
<!--                  <h6>magni deserunt dolorem harum quas!</h6>-->
<!--                  <h4>Aliquam iusto harum <br>  ratione porro odio</h4>-->
<!--                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa cupiditate mollitia adipisci assumenda laborum eius quae quo excepturi, eveniet. Dicta nulla ea beatae consequuntur?</p>-->
<!--                  <a href="about.html" class="filled-button">About Us</a>-->
<!--                </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; // Item &ndash;&gt;-->
<!--          &lt;!&ndash; Item &ndash;&gt;-->
<!--          <div class="item item-3">-->
<!--            <div class="img-fill">-->
<!--                <div class="text-content">-->
<!--                  <h6>alias officia qui quae vitae natus!</h6>-->
<!--                  <h4>Lorem ipsum dolor <br>sit amet, consectetur.</h4>-->
<!--                  <p>Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate mi. Sed nec cursus augue. Phasellus lacinia ac sapien vitae dapibus. Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</p>-->
<!--                  <a href="contact.html" class="filled-button">Contact Us</a>-->
<!--                </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; // Item &ndash;&gt;-->
<!--        </div>-->



    </div>
    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Request a call back right now ?</h4>
            <span>Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</span>
          </div>
          <div class="col-md-4">
            <a href="contact.html" class="border-button">Contact Us</a>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Last <em>Cars :</em></h2>
            </div>
          </div>
          <div class="col-md-4">
            {% for car in cars|slice:"0:3" %}
            <div class="service-item">
              <div class="down-content">


                <h4>{{ car.brand.title }}</h4>
                <div style="margin-bottom:10px;">
                  <span>
                      <del></del>${{ car.price }}
                  </span>
                </div>

                <p>
                  <i class="fa fa-dashboard"></i> {{ car.mileage }}km &nbsp;&nbsp;&nbsp;
                  <i class="fa fa-cube"></i> {{ car.volume }}L &nbsp;&nbsp;&nbsp;
                  <i class="fa fa-cog"></i>{{ car.transmission }} &nbsp;&nbsp;&nbsp;
                </p>
                <a href="{% url 'car_detail' car.id %}" class="filled-button">View More</a>
              </div>
            </div>
            {% endfor %}


            <br>

        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="more-info-content">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img src="assets/images/about-1-570x350.jpg" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-6 align-self-center">
              <div class="right-content">
                <span>Who we are</span>
                <h2>Get to know about <em>our company</em></h2>
                <p>Curabitur pulvinar sem a leo tempus facilisis. Sed non sagittis neque. Nulla conse quat tellus nibh, id molestie felis sagittis ut. Nam ullamcorper tempus ipsum in cursus</p>
                <a href="about.html" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info">
      <div class="container">


        <div class="row" id="tabs">



        </div>

        
      </div>
    </div>

    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>What they say <em>about us</em></h2>
              <span>testimonials from our greatest clients</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-testimonials owl-carousel">

              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>George Walker</h4>
                  <span>Chief Financial Analyst</span>
                  <p>"Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem sit amet quam. Pellentesque in sagittis lacus."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>

              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>John Smith</h4>
                  <span>Market Specialist</span>
                  <p>"In eget leo ante. Sed nibh leo, laoreet accumsan euismod quis, scelerisque a nunc. Mauris accumsan, arcu id ornare malesuada, est nulla luctus nisi."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>

              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>David Wood</h4>
                  <span>Chief Accountant</span>
                  <p>"Ut ultricies maximus turpis, in sollicitudin ligula posuere vel. Donec finibus maximus neque, vitae egestas quam imperdiet nec. Proin nec mauris eu tortor consectetur tristique."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>

              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Andrew Boom</h4>
                  <span>Marketing Head</span>
                  <p>"Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock content %}