{% extends '../base.html' %}
{% block content %}

    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1><sup>$</sup>{{ car.price }}</h1>
            <span>
                {{ car.brand }} {{ car.model }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div>
              <img src="{{ MEDIA_URL }}{{ car.image.url }}" class="img-fluid wc-image">
            </div>

            <br>

            <div class="row">
              <div class="col-sm-4 col-6">
                <div>
                  <img src="assets/images/product-1-720x480.jpg" alt="" class="img-fluid">
                </div>
                <br>
              </div>
              <div class="col-sm-4 col-6">
                <div>
                  <img src="assets/images/product-2-720x480.jpg" alt="" class="img-fluid">
                </div>
                <br>
              </div>
              <div class="col-sm-4 col-6">
                <div>
                  <img src="assets/images/product-3-720x480.jpg" alt="" class="img-fluid">
                </div>
                <br>
              </div>

              <div class="col-sm-4 col-6">
                <div>
                  <img src="assets/images/product-4-720x480.jpg" alt="" class="img-fluid">
                </div>
                <br>
              </div>
              <div class="col-sm-4 col-6">
                <div>
                  <img src="assets/images/product-5-720x480.jpg" alt="" class="img-fluid">
                </div>
                <br>
              </div>
              <div class="col-sm-4 col-6">
                <div>
                  <img src="assets/images/product-6-720x480.jpg" alt="" class="img-fluid">
                </div>
                <br>
              </div>
            </div>

            <br>
          </div>

          <div class="col-md-5">
            <form action="#" method="post" class="form">
              <ul class="list-group list-group-flush">
               <li class="list-group-item">
                    <div class="clearfix">
                         <span class="pull-left">Type</span>

                         <strong class="pull-right">{{ car.type }}</strong>
                    </div>
               </li>

               <li class="list-group-item">
                    <div class="clearfix">
                         <span class="pull-left">Brand</span>

                         <strong class="pull-right">{{ car.brand  }}</strong>
                    </div>
               </li>

               <li class="list-group-item">
                    <div class="clearfix">
                         <span class="pull-left"> Model</span>

                         <strong class="pull-right">{{ car.model }}</strong>
                    </div>
               </li>

               <li class="list-group-item">
                    <div class="clearfix">
                         <span class="pull-left">Year</span>

                         <strong class="pull-right">{{ car.release_date }}</strong>
                    </div>
               </li>

               <li class="list-group-item">
                    <div class="clearfix">
                         <span class="pull-left">Mileage</span>

                         <strong class="pull-right">{{ car.mileage }}km</strong>
                    </div>
               </li>

               <li class="list-group-item">
                    <div class="clearfix">
                         <span class="pull-left">Fuel</span>

                         <strong class="pull-right">{{ car.fuel.capitalize }}</strong>
                    </div>
               </li>

               <li class="list-group-item">
                    <div class="clearfix">
                         <span class="pull-left">Engine size</span>

                         <strong class="pull-right">{{ car.volume }}L</strong>
                    </div>
               </li>

               <li class="list-group-item">
                    <div class="clearfix">
                         <span class="pull-left">Power</span>

                         <strong class="pull-right">{{ car.power }}hp</strong>
                    </div>
               </li>


               <li class="list-group-item">
                    <div class="clearfix">
                         <span class="pull-left">Gearbox</span>

                         <strong class="pull-right">{{ car.transmission.capitalize }}</strong>
                    </div>
               </li>


               <li class="list-group-item">
                    <div class="clearfix">
                         <span class="pull-left">Color</span>

                         <strong class="pull-right">{{ car.color.capitalize }}</strong>
                    </div>
               </li>
              </ul>
            </form>

            <br>
          </div>
        </div>

        <br>
            {% if owner %}
          <div class="row">
                <div class="col-lg-3">
                    <a href="{% url 'car_update' car.id %}">Update</a>
                </div>
            </div>
            <br>
           <div class="row">
                <div class="col-lg-3">
                    <a href="{% url 'car_delete' car.id %}">Delete</a>
                </div>
            </div>
        {% endif %}

        <div class="row">
          <div class="col-md-8">
            <div class="tabs-content">
              <h4>Vehicle Description</h4>

              <p>{{ car.description.capitalize }}</p>

              <br>
            </div>
          </div>

          <div class="col-md-4">
            <div class="tabs-content">
              <h4>Vehicle Extras</h4>

              <p>- {{ car.extras }} </p>
            </div>

            <br>
            <br>

            <div class="tabs-content">
              <h4>Contact Details</h4>

              <p>
                <span>Name</span>
              
                <br>
              
                <strong>{{ car.author.username }}</strong>
              </p>
              
              <p>
                <span>Mobile phone</span>
              
                <br>
                
                <strong>
                  {{ car.author.phone }}
                </strong>
              </p>
            </div>

            <br>
          </div>
        </div>

        <br>
        <br>
        <br>
      </div>
    </div>

{% endblock content %}