{% extends '../base.html' %}
{% load static %}
{% block content %}
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Cars</h1>
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">

        <form method="get" action="{% url 'search' %}">
          <input type="text" class="form-control" name='q' placeholder="What you are looking for?">
          <div class="row">
          <div class="col-sm-4 offset-sm-4">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

          </div>
          <br>
          <br>
        </form>

        <div class="row">
          <div class="col-md-4">




            {% for car in cars %}
            <div class="service-item">
              <img src="{{ MEDIA_URL }}{{ car.image.url }}" img-fluid wc-image">

              <div class="down-content">
                <h4>{{ car.brand }} {{ car.model }}</h4>
                <div style="margin-bottom:10px;">
                  <span>
                      <sup>$</sup>{{ car.price }}
                  </span>
                </div>

                <p>
                  <i class="fa fa-dashboard"></i> {{ car.mileage }} &nbsp;&nbsp;&nbsp;
                  <i class="fa fa-cube"></i> {{ car.volume }}L &nbsp;&nbsp;&nbsp;
                  <i class="fa fa-cog"></i> {{ car.transmission }} &nbsp;&nbsp;&nbsp;
                </p>
                <a href="{% url 'car_detail' car.id %}" class="filled-button">View More</a>
              </div>
            </div>

            <br>



          </div>
            {% endfor %}



<!--          <div class="col-md-4">-->
<!--            <div class="service-item">-->
<!--              <img src="assets/images/product-2-720x480.jpg" alt="">-->
<!--              <div class="down-content">-->
<!--                <h4>Lorem ipsum dolor sit amet</h4>-->
<!--                <div style="margin-bottom:10px;">-->
<!--                  <span>-->
<!--                      <del><sup>$</sup>11999 </del> &nbsp; <sup>$</sup>11779-->
<!--                  </span>-->
<!--                </div>-->

<!--                <p>-->
<!--                  <i class="fa fa-dashboard"></i> 14 000km &nbsp;&nbsp;&nbsp;-->
<!--                  <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;-->
<!--                  <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;-->
<!--                </p>-->
<!--                <a href="car-details.html" class="filled-button">View More</a>-->
<!--              </div>-->
<!--            </div>-->

<!--            <br>-->
<!--          </div>-->




<!--          <div class="col-md-4">-->
<!--            <div class="service-item">-->
<!--              <img src="assets/images/product-3-720x480.jpg" alt="">-->
<!--              <div class="down-content">-->
<!--                <h4>Lorem ipsum dolor sit amet</h4>-->
<!--                <div style="margin-bottom:10px;">-->
<!--                  <span>-->
<!--                      <del><sup>$</sup>11999 </del> &nbsp; <sup>$</sup>11779-->
<!--                  </span>-->
<!--                </div>-->

<!--                <p>-->
<!--                  <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;-->
<!--                  <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;-->
<!--                  <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;-->
<!--                </p>-->
<!--                <a href="car-details.html" class="filled-button">View More</a>-->
<!--              </div>-->
<!--            </div>-->

<!--            <br>-->
<!--          </div>-->

<!--          <div class="col-md-4">-->
<!--            <div class="service-item">-->
<!--              <img src="assets/images/product-4-720x480.jpg" alt="">-->
<!--              <div class="down-content">-->
<!--                <h4>Lorem ipsum dolor sit amet</h4>-->
<!--                <div style="margin-bottom:10px;">-->
<!--                  <span>-->
<!--                      <del><sup>$</sup>11999 </del> &nbsp; <sup>$</sup>11779-->
<!--                  </span>-->
<!--                </div>-->

<!--                <p>-->
<!--                  <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;-->
<!--                  <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;-->
<!--                  <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;-->
<!--                </p>-->
<!--                <a href="car-details.html" class="filled-button">View More</a>-->
<!--              </div>-->
<!--            </div>-->

<!--            <br>-->
<!--          </div>-->

<!--          <div class="col-md-4">-->
<!--            <div class="service-item">-->
<!--              <img src="assets/images/product-5-720x480.jpg" alt="">-->
<!--              <div class="down-content">-->
<!--                <h4>Lorem ipsum dolor sit amet</h4>-->
<!--                <div style="margin-bottom:10px;">-->
<!--                  <span>-->
<!--                      <del><sup>$</sup>11999 </del> &nbsp; <sup>$</sup>11779-->
<!--                  </span>-->
<!--                </div>-->

<!--                <p>-->
<!--                  <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;-->
<!--                  <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;-->
<!--                  <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;-->
<!--                </p>-->
<!--                <a href="car-details.html" class="filled-button">View More</a>-->
<!--              </div>-->
<!--            </div>-->

<!--            <br>-->
<!--          </div>-->

<!--          <div class="col-md-4">-->
<!--            <div class="service-item">-->
<!--              <img src="assets/images/product-6-720x480.jpg" alt="">-->
<!--              <div class="down-content">-->
<!--                <h4>Lorem ipsum dolor sit amet</h4>-->
<!--                <div style="margin-bottom:10px;">-->
<!--                  <span>-->
<!--                      <del><sup>$</sup>11999 </del> &nbsp; <sup>$</sup>11779-->
<!--                  </span>-->
<!--                </div>-->

<!--                <p>-->
<!--                  <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;-->
<!--                  <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;-->
<!--                  <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;-->
<!--                </p>-->
<!--                <a href="car-details.html" class="filled-button">View More</a>-->
<!--              </div>-->
<!--            </div>-->

<!--            <br>-->
<!--          </div>-->
<!--        </div>-->

        <br>
        <br>

        <{% if cars.has_other_pages %}
  <ul class="pagination">
    {% if cars.has_previous %}
      <li><a href="?page={{ cars.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in cars.paginator.page_range %}
      {% if cars.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if cars.has_next %}
      <li><a href="?page={{ cars.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

        <br>
        <br>
        <br>
        <br>
      </div>

    </div>
{% endblock content %}
