{% extends '../base.html' %}
{% block content %}

<br>
<br>
<br>
<div class="row">
          <div class="col-md-4">




            {% for car in cars %}
            <br>
            <div class="service-item">
 <img src="{{ MEDIA_URL }}{{ car.image.url }}" img-fluid wc-image">              <div class="down-content">
                <h4>{{ car.brand }} {{ car.model }}</h4>
                <div style="margin-bottom:10px;">
                  <span>
                      <sup>$</sup>{{ car.price }}
                  </span>
                </div>

                <p>
                  <i class="fa fa-dashboard"></i> {{ car.mileage }} &nbsp;&nbsp;&nbsp;
                  <i class="fa fa-cube"></i> {{ car.volume }}L &nbsp;&nbsp;&nbsp;
                  <i class="fa fa-cog"></i> {{ car.transmission }} &nbsp;&nbsp;&nbsp;
                </p>
                <a href="{% url 'car_detail' car.id %}" class="filled-button">View More</a>
              </div>
            </div>

            <br>



          </div>
            {% endfor %}
    <br>


{% endblock content %}