{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
{% if messages %}
    {% for message in messages %}
{% if message.tags == 'success' %}
    <div class="alert alert-success">
{% else %}
    <div class="alert alert-danger">
        {% endif %}
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <form method="post" autocomplete="off">
                        <br>
                        <br>
                        <br>
                        <br>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                         <button class="btn btn-success">Login</button>
                        <br>
                    </form>
                </div>
                <div class="col-4">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h2>Don't have an account yet?</h2>
                    <p>You can register <a href="{% url 'register' %}">here</a></p>
                </div>
            </div>
        </div>
        <br>
        {% endblock content %}
